@import "tailwindcss";

@theme {
  /* Your color definitions */
  --color-creatBright: #ed145a;
  --color-creatDark: #c00848;
  --color-creatBG: #081731;
  --color-creatBGLight: #0c3d91;
  --color-background: hsl(var(--background));
  /* Add all other colors from your config here using --color- prefix */
}

/* Google Maps styling */
.gm-style-cc {
  display: none !important;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
